{% extends 'base.html.twig' %}

{% block title %}New Annonce{% endblock %}

{% block body %}
    <h1>Create new Annonce</h1>

    {{ include('fetiches/_form.html.twig') }}

    <a href="{{ path('fetiches_index') }}">back to list</a>
{% endblock %}
