{% extends 'base.html.twig' %}

{% block title %}New Annonce{% endblock %}

{% block body %}
    <h1>Déposer une annonce</h1>

    {{ include('annonce/_form.html.twig') }}

    <a href="{{ path('annonce_index') }}">Retour à la liste</a>
{% endblock %}
